

.packages

build/

.dart_tool/

android/.gradle/6.7/

android/.gradle/buildOutputCleanup/

android/.gradle/checksums/

android/.gradle/configuration-cache/

android/.gradle/vcs-1/

android/local.properties
