

.packages

build/

.dart_tool/

android/.gradle/6.7/

android/.gradle/buildOutputCleanup/

android/.gradle/checksums/

android/.gradle/configuration-cache/

android/.gradle/vcs-1/

android/local.properties

.flutter-plugins

ios/Pods/Manifest.lock

android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

.flutter-plugins-dependencies

ios/Runner/GeneratedPluginRegistrant.m

lib/generated_plugin_registrant.dart

pubspec.lock

.DS_Store

.idea/libraries/Dart_SDK.xml
